<template>
    <v-app>
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Caracteristicas flora</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <!-- <v-flex xs12 sm6 md4>
                                <v-text-field v-model="species.name" label="Nombre"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                <v-text-field v-model="species.species_family" label="Familia"></v-text-field>
                                </v-flex>        -->
                            
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" flat @click="editLocation">Guardar</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog> 
            </v-toolbar>
                <v-data-table :headers="headers" :items="allLocation"  :pagination.sync="pagination"  class="elevation-1">
                <template slot="items" slot-scope="props">
                    <td class="text-xs" >{{ props.item.id }}</td>
                    <td class="text-xs">{{ props.item.id_species }}</td>
                    <td class="text-xs">{{ props.item.id_farm }}</td>
                    <td class="text-xs">{{ props.item.id_tower }}</td>
                    <td class="text-xs">{{ props.item.location }}</td>
               
                    <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                    </td>
                </template>
                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        No se encontrearon datos!!
                    </v-alert>
                </template>
                </v-data-table>
                 
        </div>
    </v-app>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id especies", value: "especies" },
      { text: "Id Granja", value: "granja" },
      { text: "Id Torre ", value: "torre" },
      { text: "Localizacin", value: "location" },
   

      { text: "Acciones", value: "id", sortable: false }
    ],
    allLocation:[],
     location:{
        id:"",
        id_species:"",
        id_farm:"",
        id_tower:"",
        location:"",
        
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }

    //    pages () {
    //     if (this.pagination.rowsPerPage == null ||
    //       this.pagination.totalItems == null
    //     ) return 0

    //     return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    //   }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getLocation();
    },
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },
    /**
     * Método que nostrae los registros del modelo country
     */
    getLocation() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/flora/species/location"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allLocation = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editLocation() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/flora/species/location" +
            this.location.id +
            "/",
          this.location
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            // this.sw = true;
            // this.title = "Exito!";
            // this.content = "Los datos fueron editados satisfactoriamente";
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.location = this.allLocation.indexOf(item);
      this.location = Object.assign({}, item);
      this.dialog = true;
    }

    // deleteItem (item) {
    //   const index = this.desserts.indexOf(item)
    //   confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
    // },

    //   close () {
    //     this.dialog = falseexport default {

    //    }
    //     setTimeout(() => {
    //       this.editedItem = Object.assign({}, this.defaultItem)
    //       this.editedIndex = -1
    //     }, 300)
    //   },

    // save () {
    //   if (this.editedIndex > -1) {
    //     Object.assign(this.desserts[this.editedIndex], this.editedItem)
    //   } else {
    //     this.desserts.push(this.editedItem)
    //   }
    //   this.close()
    // }
  }
};
</script>
<style>
</style>
