<template>
    <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Comuna</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                         <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 d-flex>
                                <v-select :items="allRegion" v-model="region" item-text="name" item-value="id" label="Nombre Region"   persistent-hint
                                  return-object  single-line >
                                </v-select>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="comune.name" label="Nombre Comuna"></v-text-field>
                              </v-flex>
                                 <v-switch label="Activo" v-model="comune.is_active"></v-switch>
                            
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                             <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                              <v-btn color="primary" dark  @click="editComune">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                            
                        </v-card-actions>
                        </v-card>
                    </v-dialog> 
                      <v-dialog v-model="mdIngreso" width="500">
                        <v-card>
                            <v-card-title>
                          <span class="headline">Nuevo Registro</span>
                           </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap>                    
                              <v-flex xs12 sm6 d-flex>
                                <v-select :items="allRegion" v-model="region" item-text="name" item-value="id" label="Nombre Region"  persistent-hint
                                  return-object  single-line >
                                </v-select>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="comune.name" label="Nombre Comuna"></v-text-field>
                              </v-flex>
                                 <v-switch label="Activo" v-model="comune.is_active"></v-switch>                                                     
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                          </v-card>        
                      </v-dialog> 
                        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>
            </v-toolbar>
                 <v-toolbar flat color="white">
                    <v-card>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card>
                  </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                  <div v-if="allComune.length > 0"> 
                    <v-data-table :headers="headers" :items="allComune" :search="search" :pagination.sync="pagination"  class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-left" >{{ props.item.id }}</td>
                        <td class="text-xs-left">{{ props.item.id_region }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                    
                        <td class="justify-left layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                        </td>
                    </template>                    
                    </v-data-table>
                  </div>  
                    <div v-else >
                        <template  slot="no-data">
                            <v-alert :value="true" color="error" icon="warning">
                              No se encontrearon datos!!
                             </v-alert>
                        </template> 
                    </div>                 
        </div>
          <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
          </v-snackbar>
    </v-app>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    mdIngreso: false,
    mdEliminar:false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id Región", value: "region" },
      { text: "Nombre comuna", value: "name" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allComune: [],
    comune: {
      id: "",
      id_region: "",
      name: "",
      is_active:true,
      location: ""
    },
     allRegion:[],     
    region: {
      id:"",
      name:""
     
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    }
   
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getComune();
      this.getRegion();
    },

   

    /**
    * Metodo que permite ingresar registro en el modelo species
    */
    guardar() {
        this.comune.id_region = this.region.id
      this.$http
        .post("//epunamum.herokuapp.com/api/v1/location/commune/", this.comune)
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allComune = [];
            this.getComune();
            this.mdIngreso = false; 
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false  
          }
        );
    },
    
    /**
     * Método que nostrae los registros del modelo country
     */
    getComune() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/location/commune/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allComune = response.body;
            // let com=[]
            // for(let i =0;i < this.allComune.length; i++)
            // {
            //   if(this.allComune[i].is_active ==false)
            //   {
            //     com=this.allComune;
               
            //     // console.log("dentro de if",this.allComune)
                
            //   }
              
            // }
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

     /**
    * Método que nostrae los registros del modelo flora para llenar combobox clima
    */
    getRegion() {      
      this.$http
        .get("//epunamum.herokuapp.com/api/v1/location/region/",
        // {
        //   headers: { Authorization: "JWT " + this.atoken }
        // }
        )
        .then(
          response => {          
            this.allRegion = response.body;               
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editComune() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/location/commune/" +
            this.comune.id +
            "/",
          this.comune
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allComune = [];
            this.getComune();
            this.dialog = false; 
          
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region 
     */
    Eliminar(){
       this.comune.is_active=false;
       console.log(this.region)
       this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/location/commune/" +
            this.comune.id +
            "/",
          this.comune
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allComune = [];
            this.getComune();
            this.mdEliminar = false; 
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );

    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.comune = this.allComune.indexOf(item);
      this.comune = Object.assign({}, item);
      this.dialog = true;
    },

     /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.comune = this.allComune.indexOf(item);
      this.comune = Object.assign({}, item);
      this.mdEliminar = true;
    },
     eliminarRegion(){
      this.mdEliminar=true
      this.editItem();

    },

     /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

     /**
      *  Levanta el modal mingreso para nuevo registro 
      * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar=false;
    },

    
  }
};
</script>
<style>
</style>
