<template>
 <v-app id="inspire"> 
         <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Mantenedor País</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
         <v-dialog v-model="dialog" max-width="500px">
        
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 d-flex>
                  <v-text-field v-model="pais.name" label="Nombre País"></v-text-field>
                </v-flex>
                       <v-switch label="Activo" v-model="pais.is_active"></v-switch>              
               
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
              <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
              <v-btn color="primary" dark  @click="editCountry">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
            <v-dialog v-model="mdIngreso" width="500">
               <v-card>
                   <v-card-title>
                      <span class="headline">Nuevo Registro</span>
                  </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap>                    
                              <v-flex xs12 sm6 d-flex>
                                    <v-text-field v-model="pais.name" label="Nombre país"></v-text-field>
                              </v-flex> 
                                 <v-switch label="Activo" v-model="pais.is_active"></v-switch>                                                     
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                 </v-card>        
            </v-dialog> 
    </v-toolbar>
        <v-toolbar flat color="white">
            <v-card>
                <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
            </v-card>
        </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
           <div v-if="allCountry.length > 0">      
            <v-data-table :headers="headers"  :items="allCountry"  :search="search"  :pagination.sync="pagination" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td class="text-xs-left" >{{ props.item.id }}</td>
                <td class="text-xs-left">{{ props.item.name }}</td>
                 <td class="text-xs-left">
                    <v-icon small class="mr-2">check_circle </v-icon>
                   
                 </td> 
                   <!-- <v-radio  color="red"  value="red" >{{props.item.isActive}}</v-radio></td>              -->
                <td class="justify-left layout px-0">
                  <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                  <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                </td>
              </template>
             
            </v-data-table>
           </div>  
              <div v-else >
                  <template  slot="no-data">
                      <v-alert :value="true" color="error" icon="warning">
                        No se encontrearon datos!!
                      </v-alert>
                  </template> 
              </div>
    </div>
        <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
          </v-snackbar>
  </v-app>
    
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    mdIngreso:false,
    timeout:1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },  
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Nombre", value: "nombre" },
      { text: "Activo", value: "active" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allCountry: [],
    country: {
      id: "",
      name: "",
      is_active:true
    },
    allPais: [],
    pais: {
      id: "",
      name: "",
      is_active:true
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edita Registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getCountry();
    },

     guardar() {
      this.$http
        .post("//epunamum.herokuapp.com/api/v1/location/country/", this.pais)
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allPais = [];
            this.getCountry();
            this.mdIngreso = false;
            
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo country
     */
    getCountry() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/location/country/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {

            this.allCountry = response.body;

            // for(let i =0;i < this.allCountry.length; i++)
            // {
            //   if(this.allCountry[i].is_active ==false)
            //   {
            //     this.allPais=this.allCountry;
               
            //     // console.log("dentro de if",this.pais)
                
            //   }
              
            // }
            console.log(this.allPais)
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editCountry() {
      // console.log(this.project)
      console.log(this.country)
      this.$http        
        .patch(
          "//epunamum.herokuapp.com/api/v1/location/country/" + this.pais.id + "/",
          this.pais
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allPais = [];
            this.getCountry();
            this.dialog = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.pais = this.allPais.indexOf(item);
      this.pais = Object.assign({}, item);
      this.pais.is_active=true;
      this.dialog = true;
    },

    //** Levanta el modal mingreso para nuevo registro */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
    },
     /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },
  }
};
</script>
<style>
</style>
