<template>
   <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Especie Individual</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                          <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                               <v-flex xs12 sm6 d-flex>
                                   <v-select :items="allSpecies" v-model="species" item-text="name" item-value="id" label="Nombre" :hint="`${species.id}`"  persistent-hint
                                     return-object  single-line ></v-select>
                                </v-flex>   
                                <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.name" label="Nombre"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                   <v-select :items="allComune" v-model="comune" item-text="name" item-value="id" label="Comuna" :hint="`${species.id}`"  persistent-hint
                                     return-object  single-line ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.latitude" label="Latitud"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.longitude" label="Longtud"></v-text-field>
                                </v-flex>  
                                 <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.altitude" label="Altitud"></v-text-field>
                                </v-flex>       
                                                    
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="editSpecies">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog>
                      <v-dialog v-model="mdIngreso" width="500">
                        <v-card>
                            <v-card-title>
                          <span class="headline">Nuevo Registro</span>
                           </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap> 
                                <v-flex xs12 sm6 d-flex>
                                   <v-select :items="allSpecies" v-model="species" item-text="name" item-value="id" label="Nombre" :hint="`${species.id}`"  persistent-hint
                                     return-object  single-line ></v-select>
                                </v-flex>                   
                              
                               <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.name" label="Nombre"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                   <v-select :items="allComune" v-model="comune" item-text="name" item-value="id" label="Comuna" :hint="`${comune.id}`"  persistent-hint
                                     return-object  single-line ></v-select>
                                </v-flex>  
                                <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.latitude" label="Latitud"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.longitude" label="Longtud"></v-text-field>
                                </v-flex>  
                                 <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="individual.altitude" label="Altitud"></v-text-field>
                                </v-flex>  
                                 <v-switch label="Activo" v-model="individual.is_active"></v-switch>                                                     
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                          </v-card>        
                      </v-dialog> 
                        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog> 
            </v-toolbar>
              <v-toolbar flat color="white">
                    <v-card>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card>
               </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                 <div v-if="allIndividual.length > 0">
                  <v-data-table :headers="headers" :items="allIndividual" :search="search"  :pagination.sync="pagination"  class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-left" >{{ props.item.id }}</td>
                        <td class="text-xs-left">{{ props.item.id_species }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.latitude }}</td>
                        <td class="text-xs-left">{{ props.item.longitude }}</td>
                        <td class="text-xs-left">{{ props.item.altitude }}</td>
                        <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                        </td>
                    </template>                 
                  </v-data-table>
                </div>  
                  <div v-else >
                    <template  slot="no-data">
                      <v-alert :value="true" color="error" icon="warning">
                       No se encontrearon datos!!
                      </v-alert>
                    </template> 
                  </div>                    
        </div>
         <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
          </v-snackbar>
    </v-app>   
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id Especie", value: "especie" },
      { text: "Nombre Especie", value: "nombre" },
      { text: "Latitud", value: "latitud" },
      { text: "Longitud", value: "longitud" },
      { text: "Altitud", value: "Altitud" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allIndividual: [],
    individual: {
      id: "",
      id_species: "",
      idcommune:"",
      name: "",
      latitude: "",
      longitude: "",
      altitude: "",
      is_active: true
    },
    allSpecies: [],
    species: {
      id: "",
      name: ""
    },
    allComune:[],
    comune:{
      id:"",
      name:""
    },

  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getIndividual();
      this.getSpecies();
      this.getcomune();
    },

    /**
     * Metodo que permite ingresar registro en el modelo species
     */
    guardar() {
      this.individual.id_species = this.species.id;
      this.individual.idcommune = this.comune.id;
      console.log(this.individual)
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/flora/individual/",
          this.individual
        )
        .then(
          response => {
            console.log(response.body);
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allIndividual = [];
            this.getIndividual();
            this.mdIngreso = false; 
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;
          
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo individual
     */
    getIndividual() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/flora/individual/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allIndividual = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo flora para llenar combobox clima
     */
    getSpecies() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/flora/species/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allSpecies = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo flora para llenar combobox clima
     */
    getcomune() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/location/commune/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allComune = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo specie individual
     */
    editSpecies() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/flora/individual/" +
            this.individual.id +
            "/",
          this.individual
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allIndividual = [];
            this.getIndividual();
            this.dialog = false; 
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
            this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.flora.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/flora/individual/" +
            this.flora.id +
            "/",
          this.flora
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allIndividual = [];
            this.getIndividual();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },


    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.individual = this.allIndividual.indexOf(item);
      this.individual = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>
