<template>
  <v-app id="inspire">
      
    <v-navigation-drawer v-model="drawer" fixed  app>
      <v-list dense>
        <v-list-tile >
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-group prepend-icon="fas fa-cog" value="true">
          <v-list-tile slot="activator">
            <v-list-tile-title>Mantenedores</v-list-tile-title>
          </v-list-tile>
            <v-list-group no-action sub-group value="true">
                <v-list-tile slot="activator">
                  <v-list-tile-title>Proyectos</v-list-tile-title>
                </v-list-tile>
                      <v-list-tile  @click="toCreateProyecto">
                        <v-list-tile-title>Ingresar Proyecto</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toConfigProyecto">
                        <v-list-tile-title>Listado de Proyecto</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toCreateSeccion">
                        <v-list-tile-title>Ingreso Sección proyecto</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toIndexSeccion">
                        <v-list-tile-title>Listado de Seccion</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toCreateTabla">
                        <v-list-tile-title>Ingreso base torre</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toIndexTabla">
                        <v-list-tile-title>Listado de base torre</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
            </v-list-group>
                <!-- <v-list-group no-action sub-group value="true">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>País</v-list-tile-title>
                    </v-list-tile>
                      <v-list-tile  @click="toCreatePais">
                        <v-list-tile-title>Ingresar País</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toIndexPais">
                        <v-list-tile-title>Listado de Paises</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
               </v-list-group> -->
                 <!-- <v-list-group no-action sub-group value="true">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Clima</v-list-tile-title>
                    </v-list-tile>
                      <v-list-tile  @click="toIgresoClima">
                        <v-list-tile-title>Ingresar Clima</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toListadoClima">
                        <v-list-tile-title>Listado de Clima</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                    
                      <v-list-tile  @click="toIngresoAmbiente">
                        <v-list-tile-title>Ingresar Ambiente</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toListadoAmbiente">
                        <v-list-tile-title>Listado de Ambiente</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toIngresoPrecipitacion">
                        <v-list-tile-title>Ingresar Precipitación</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toListadoPrecipitacion">
                        <v-list-tile-title>Listado de Precipitación</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toIngresoTemperatura">
                        <v-list-tile-title>Ingresar Temperatura</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toListadoTemperatura">
                        <v-list-tile-title>Listado de Temperatura</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                        <v-list-tile  @click="toIngresoVegetacion">
                        <v-list-tile-title>Ingresar Vegetacioń</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toListadoVegetacion">
                        <v-list-tile-title>Listado de Vegetación</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toIngresoTiempo">
                        <v-list-tile-title>Ingresar Tiempo</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toListadoTiempo">
                        <v-list-tile-title>Listado de tiempo</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
               </v-list-group> -->
                  <!-- <v-list-group no-action sub-group value="true">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Flora</v-list-tile-title>
                    </v-list-tile>
                        <v-list-tile  @click="toIngresoFlora">
                          <v-list-tile-title>Ingresar Flora</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoFlora">
                          <v-list-tile-title>Listado Flora</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                        <v-list-tile  @click="toIngresoFloraFeat">
                          <v-list-tile-title>Ingresar Caracteresiticas Flora</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoFloraFeat">
                          <v-list-tile-title>Listado Caracteresiticas Flora</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>  
                        <v-list-tile  @click="toIngresoEspecies">
                          <v-list-tile-title>Ingresar Especies</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoEspecies">
                          <v-list-tile-title>Listado Especies</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>     
                      <v-list-tile  @click="toIngresoIndividual">
                          <v-list-tile-title>Ingresar Individual Especies</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoIndividual">
                          <v-list-tile-title>Listado Individual Especies</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toIngresoRelocalizacion">
                          <v-list-tile-title>Ingresar Relocalización</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoRelocalizacion">
                          <v-list-tile-title>Listado Relocalización</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                       <v-list-tile  @click="toIngresoRescue">
                          <v-list-tile-title>Ingresar Rescate Flora</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoRescue">
                          <v-list-tile-title>Listado flora Rescatada</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                         <v-list-tile  @click="toIngresoRastreo">
                          <v-list-tile-title>Ingresar Rastreo</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoRastreo">
                          <v-list-tile-title>Listado rastreo</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                       <v-list-tile  @click="toIngresoLocation">
                          <v-list-tile-title>Ingresar Ubicación</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoLocation">
                          <v-list-tile-title>Listado Ubicación</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                  </v-list-group>     -->
                <!-- <v-list-group no-action sub-group value="true">
                    <v-list-tile slot="activator">
                      <v-list-tile-title>Geo</v-list-tile-title>
                    </v-list-tile>
                      <v-list-tile  @click="toIngresoGeo">
                          <v-list-tile-title>Ingresar GeoReferencia</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoGeo">
                          <v-list-tile-title>Listado GeoReferencia</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>   
                       <v-list-tile  @click="toIngresoExposicion">
                          <v-list-tile-title>Ingresar Exposición</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoExposicion">
                          <v-list-tile-title>Listado Exposición</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toIngresoFeatGeo">
                          <v-list-tile-title>Ingresar Carastereistcias</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoFeatGeo">
                          <v-list-tile-title>Listado carasteristicas</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>  
                      <v-list-tile  @click="toIngresoSoil">
                          <v-list-tile-title>Ingresar Suelo</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoSoil">
                          <v-list-tile-title>Listado suelo</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>      
                </v-list-group>      -->
               <!-- <v-list-group no-action sub-group value="true">
                  <v-list-tile slot="activator">
                      <v-list-tile-title>Region</v-list-tile-title>
                  </v-list-tile>  
                    <v-list-tile  @click="toIngresoRegion">
                          <v-list-tile-title>Ingresar Region</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoRegion">
                          <v-list-tile-title>Listado Region</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>  
                         <v-list-tile  @click="toIngresoComuna">
                          <v-list-tile-title>Ingresar Comuna</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile> 
                      <v-list-tile  @click="toListadoCumuna">
                          <v-list-tile-title>Listado Comuna</v-list-tile-title>
                           <v-list-tile-action>
                              <v-icon ></v-icon>
                           </v-list-tile-action>
                      </v-list-tile>  
                         
               </v-list-group>      -->

      </v-list-group>
    </v-list>     
      
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-toolbar>
    
    <v-content>
        <!-- <router-view/> -->
       <v-container fluid  >
           <!-- fill-height -->
        <!-- <v-layout justify-center  align-center> -->
           
           <router-view></router-view>
        <!-- </v-layout> -->
      </v-container> 
    </v-content> 
     <v-footer color="green" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer> 
  </v-app>
</template>

<script>
export default {
  name: "Menu",
  
  data() {
    return {
      atitle: "Inicio",
      drawer: null,
      atoken: "",
      menuVisible: false,
      accordionLike: true,
      reportsVisible: false,
      configVisible: false,
      requestsVisible: false,
      orderVisible: false,
      providerVisible: false
    };
  },
  props: {
    source: String
  },
//   watch: {
//     atitle: function() {
//       if (this.atitle == "") {
//         this.atitle = "Inicio";
//       }
//     }
//   },
  created() {
    // this.atoken = this.$localStorage.get("theToken");
    // this.user.email = this.$localStorage.get("email");
    //this.
    if (
      this.atoken == "" ||
      this.atoken === null ||
      this.atoken === undefined
    ) {
      this.$router.push({ name: "Login" });
    }
    //    //this.getInfo();
    //  console.log(this.user.email)
  },
  methods: {
    toggleMenu() {
    //   this.menuVisible = !this.menuVisible;
      this.theAvatar = this.$localStorage.get("theAvatar");
      this.theFirst = this.$localStorage.get("theFirst");
      this.theLast = this.$localStorage.get("theLast");
    },    

    // toConfigHome() {
    //   this.atitle = "Home";
    //   this.$router.push({ name: "Home" });
    //   this.menuVisible = !this.menuVisible;
    // },
   
    toConfigProyecto() {
      this.atitle = "Proyecto";
      this.$router.push({ name: "Index" });
      this.menuVisible = !this.menuVisible;
    },
    toCreateProyecto() {
      this.atitle = "Ingreso Proyecto";
      this.$router.push({ name: "Create" });
    },
    toCreateSeccion() {
      this.atitle = "Ingreso Sección Proyecto";
      this.$router.push({ name: "CreateSeccion" });
    },
    toIndexSeccion() {
      this.atitle = "Sección Proyecto";
      this.$router.push({ name: "IndexSeccion" });
    },
    toCreateTabla() {
      this.atitle = "Ingreso tabla ";
      this.$router.push({ name: "CreateTowerTable" });
    },
    toIndexTabla() {
      this.atitle = "listado tabla";
      this.$router.push({ name: "IndexTowerTable" });
    },
    toCreatePais() {
      this.atitle = "Ingreso País";
      this.$router.push({ name: "CreateCountry" });
    },
    toIndexPais() {
      this.atitle = "Listado País";
      this.$router.push({ name: "IndexCountry" });
    },
    toIgresoClima() {
      this.atitle = "Ingreso Clima";
      this.$router.push({ name: "CreateClimate" });
    },
    toListadoClima() {
      this.atitle = "Ingreso Clima";
      this.$router.push({ name: "IndexClimate" });
    },
    toIngresoAmbiente() {
      this.atitle = "Ingreso Ambiente";
      this.$router.push({ name: "CreateAmbient" });
    },
    toListadoAmbiente() {
      this.atitle = "Listado Ambiente";
      this.$router.push({ name: "IndexAmbient" });
    },
    toIngresoPrecipitacion() {
      this.atitle = "Ingreso Precipitación";
      this.$router.push({ name: "CreatePrecipitation" });
    },
    toListadoPrecipitacion() {
      this.atitle = "Listado Precipitación";
      this.$router.push({ name: "IndexPrecipitation" });
    },
    toIngresoTemperatura() {
      this.atitle = "Ingreso Temperatura";
      this.$router.push({ name: "CreateTemperature" });
    },
    toListadoTemperatura() {
      this.atitle = "Listado Temperatura";
      this.$router.push({ name: "IndexTemperature" });
    },
    toIngresoVegetacion() {
      this.atitle = "Ingreso Vegetación";
      this.$router.push({ name: "CreateVegetation" });
    },
    toListadoVegetacion() {
      this.atitle = "Listado Vegetación";
      this.$router.push({ name: "IndexVegetation" });
    },
    toIngresoTiempo() {
      this.atitle = "Ingreso Vegetación";
      this.$router.push({ name: "CreateWeather" });
    },
    toListadoTiempo() {
      this.atitle = "Listado Vegetación";
      this.$router.push({ name: "IndexWeather" });
    },
    toIngresoFlora() {
      this.atitle = "Ingreso Flora";
      this.$router.push({ name: "CreateFlora" });
    },
    toListadoFlora() {
      this.atitle = "Listado Flora";
      this.$router.push({ name: "IndexFlora" });
    },
    toIngresoFloraFeat() {
      this.atitle = "ingreso Caracteresiticas Flora";
      this.$router.push({ name: "CreateFloraFeat" });
    },
    toListadoFloraFeat() {
      this.atitle = "Listado Caracteresiticas Flora";
      this.$router.push({ name: "IndexFloraFeat" });
    },
    toIngresoEspecies() {
      this.atitle = "ingreso Especies";
      this.$router.push({ name: "CreateSpecies" });
    },
    toListadoEspecies() {
      this.atitle = "Listado Especies";
      this.$router.push({ name: "IndexSpecies" });
    },
    toIngresoIndividual() {
      this.atitle = "ingreso Individual species";
      this.$router.push({ name: "CreateIndividual" });
    },
    toListadoIndividual() {
      this.atitle = "Listado Individual Especies";
      this.$router.push({ name: "IndexIndividual" });
    },
    toIngresoRelocalizacion() {
      this.atitle = "ingreso Relocalizacion";
      this.$router.push({ name: "CreateRelocalization" });
    },
    toListadoRelocalizacion() {
      this.atitle = "Listado Relocalizacion";
      this.$router.push({ name: "IndexRelocalization" });
    },
    toIngresoRescue() {
      this.atitle = "ingreso rescate flora";
      this.$router.push({ name: "CreateRescue" });
    },
    toListadoRescue() {
      this.atitle = "Listado Rescate Flora";
      this.$router.push({ name: "IndexRescue" });
    },
    toIngresoRastreo() {
      this.atitle = "ingreso Rastreo";
      this.$router.push({ name: "CreateTracking" });
    },
    toListadoRastreo() {
      this.atitle = "Listado Rescate Flora";
      this.$router.push({ name: "IndexTracking" });
    },
    toIngresoLocation() {
      this.atitle = "ingreso Ubicación";
      this.$router.push({ name: "CreateLocation" });
    },
    toListadoLocation() {
      this.atitle = "Listado Ubicación";
      this.$router.push({ name: "IndexLocation" });
    },
    toIngresoGeo() {
      this.atitle = "ingreso Ubicación";
      this.$router.push({ name: "CreateGeo" });
    },
    toListadoGeo() {
      this.atitle = "Listado Ubicación";
      this.$router.push({ name: "IndexGeo" });
    },
    toIngresoExposicion() {
      this.atitle = "ingreso Exposición";
      this.$router.push({ name: "CreateGeo" });
    },
    toListadoExposicion() {
      this.atitle = "Listado Exposición";
      this.$router.push({ name: "IndexGeo" });
    },
    toIngresoFeatGeo() {
      this.atitle = "ingreso carasteresticas";
      this.$router.push({ name: "CreateFeatures" });
    },
    toListadoFeatGeo() {
      this.atitle = "Listado carasteresticas";
      this.$router.push({ name: "IndexFeatures" });
    },
    toIngresoSoil() {
      this.atitle = "ingreso Suelo";
      this.$router.push({ name: "CreateFeatures" });
    },
    toListadoSoil() {
      this.atitle = "Listado Suelo";
      this.$router.push({ name: "IndexFeatures" });
    },
    toIngresoRegion() {
      this.atitle = "ingreso Region";
      this.$router.push({ name: "CreateRegion" });
    },
    toListadoRegion() {
      this.atitle = "Listado Región";
      this.$router.push({ name: "IndexRegion" });
    },
    toIngresoComuna() {
      this.atitle = "ingreso Comuna";
      this.$router.push({ name: "CreateComune" });
    },
    toListadoCumuna() {
      this.atitle = "Listado Región";
      this.$router.push({ name: "IndexComune" });
    }
  }
};
</script>
<style>
#menuToolbar {
  background-color: #689f38;
}
#dialogBtn {
  color: #689f38;
  float: right;
}
#logOutConte {
  margin-left: 110px;
}

#logOutItem {
  color: #689f38;
}
#drawerContents {
  display: inline-block;
  margin-bottom: -30px;
}
#drawerShowBtn {
  float: right;
  top: -40px;
}
#user-fullname {
  text-align: center;
  /* margin: 2px 8px 8px 35px; */
  /* margin: 4px 35px 4px 25px; */
  /* margin-right: -16px; */
  color: #689f38;
}
#profile-image {
  text-align: center;
  display: block;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  /* margin: 30px 60px 20px 60px;  */
  margin: 20px 60px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
.md-toolbar > span {
  color: #1e90ff;
}
#menuCont {
  background-color: white;
}
.md-app {
  /* max-height: 400px; */
  min-height: 700px;
  border: 1px solid rgba(#000, 0.12);
  top: -60px;
  /* bottom: 60px; */
}
.md-drawer {
  width: 230px;
  /* max-width: calc(100vw - 125px); */
}
/* .content {
    overflow: hidden;
} */
#nestedChild {
  margin-left: 130px;
}
#barFooter > a {
  text-decoration: none;
  float: right;
  margin-right: 16px;
}
#barFooter > a > p {
  color: #ff6702;
}
#accordionMarginL {
  margin-left: 16px;
}
#accordionNested {
  margin-left: 32px;
}
</style>
