<template>
   <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Exposición</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                          <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="exposure.geographical_position" label="Posición Geografica"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                    <v-text-field v-model="exposure.geographical_orientation" label="Orientación  Geografica"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                    <v-text-field v-model="exposure.gradient_value" label="valor Gradiente"></v-text-field>
                                </v-flex>                                        
                                 <v-switch label="Activo" v-model="exposure.is_active"></v-switch>                                    
                                                    
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                              <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                             <v-btn color="primary" dark  @click="editExpo">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog> 
            </v-toolbar>
              <v-dialog v-model="mdIngreso" width="500">
                        <v-card>
                            <v-card-title>
                          <span class="headline">Nuevo Registro</span>
                           </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap> 
                               <v-flex xs12 sm6 d-flex>
                                <v-text-field v-model="exposure.geographical_position" label="Posición Geografica"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                    <v-text-field v-model="exposure.geographical_orientation" label="Orientación  Geografica"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 d-flex>
                                    <v-text-field v-model="exposure.gradient_value" label="valor Gradiente"></v-text-field>
                                </v-flex>                                        
                                 <v-switch label="Activo" v-model="exposure.is_active"></v-switch>                                                     
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                          </v-card>        
                      </v-dialog> 
                      <!-- ********************modal eliminar -->
                        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>
                      <v-toolbar flat color="white">
                    <v-card>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card>
                  </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                  <div v-if="allExposure.length > 0">  
                        <v-data-table :headers="headers" :search="search" :items="allExposure"  :pagination.sync="pagination"  class="elevation-1">
                          <template slot="items" slot-scope="props">
                              <td class="text-xs" >{{ props.item.id }}</td>
                              <td class="text-xs">{{ props.item.geographical_position }}</td>
                              <td class="text-xs">{{ props.item.geographical_orientation }}</td>
                              <td class="text-xs">{{ props.item.gradient_value }}</td>
                              <td class="justify-center layout px-0">
                              <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                              <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                              </td>
                          </template>
                        </v-data-table>
                    </div>  
                <div v-else >
                  <template  slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        No se encontrearon datos!!
                              </v-alert>
                  </template> 
                </div>                 
        </div>
        <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
        </v-snackbar>
    </v-app>   
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Posición geo.", value: "pos" },
      { text: "Orientacioón Geo.", value: "orien" },
      { text: "Valor Gradiente", value: "val" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allExposure: [],
    exposure: {
      id: "",
      geographical_position: "",
      geographical_orientation: "",
      gradient_value: "",
      is_active:true
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getExpo();
    },
    
    /**
     * Metodo que permite ingresar un registro a modelo exposure
     */
    guardar() {
      this.$http
        .post("//epunamum.herokuapp.com/api/v1/geo/exposure/", this.exposure)
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allExposure = [];
            this.getExpo();
            this.mdIngreso = false; 
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;
          }
        );
    },

    
    /**
     * Método que nostrae los registros del modelo country
     */
    getExpo() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/geo/exposure/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allExposure = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo specie individual
     */
    editExpo() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/geo/exposure/" +
            this.exposure.id +
            "/",
          this.exposure
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allExposure = [];
            this.getExpo();
            this.dialog = false; 
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.exposure.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/geo/exposure/" +
            this.exposure.id +
            "/",
          this.exposure
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allExposure = [];
            this.getExpo();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.exposure = this.allExposure.indexOf(item);
      this.exposure = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.exposure = this.allExposure.indexOf(item);
      this.exposure = Object.assign({}, item);
      this.mdEliminar = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }

  }
};
</script>
<style>
</style>
