<template>
     <v-app>
        <v-form>
            <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm6 d-flex>
                    <v-select :items="allFlora" v-model="flora" item-text="flora_type" item-value="id" label="Tipo Flora" :hint="`${flora.id}`"  persistent-hint
                    return-object  single-line ></v-select>
                                             
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="species.name" label="Nombre Especie"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="species.species_family" label="Famila de Especie"></v-text-field>
                </v-flex>
                
            </v-layout>
            </v-container>
            <div class="text-xs-center">
                    <div>
                    <v-btn color="primary" dark @click="guardar()">Guardar
                        <v-icon dark right>check_circle</v-icon>
                    </v-btn>
                    </div>
                </div>    
        </v-form>
    </v-app>
</template>
<script>
export default {
  data: () => ({
    species:{
        id:"18",
        id_flora:"",
        name:"",
        species_family:""

    },
    allFlora:[],     
    flora: {
      id:4,
      flora_type:""
     
    }
  }),
  created () {
      this.initialize()
    },
  methods: {
    initialize () {
        this.getFlora();
  
    }, 
    /**
    * Metodo que permite ingresar registro en el modelo species
    */
    guardar() {
        this.species.id_flora = this.flora.id
      this.$http
        .post("//epunamum.herokuapp.com/api/v1/flora/species/", this.species)
        .then(
          response => {
              console.log(response.body)
            // this.sw = true;
            // this.title = "Exito!";
            // this.content = "Los datos fueron Ingresados satisfactoriamente";
          },
          error => {
            // this.sw = true;
            // this.title = "Error " + error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },
    /**
    * Método que nostrae los registros del modelo flora para llenar combobox clima
    */
    getFlora() {      
      this.$http
        .get("//epunamum.herokuapp.com/api/v1/flora/",
        // {
        //   headers: { Authorization: "JWT " + this.atoken }
        // }
        )
        .then(
          response => {          
            this.allFlora = response.body;               
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },
  }
};
</script>
<style>

</style>
