<template>
    <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Vegetación</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                       
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>   
                              <v-flex xs12 sm6 d-flex>
                                <v-select :items="allClima" v-model="clima" item-text="zone_type" item-value="id" label="individual"   persistent-hint
                                    return-object single-line ></v-select>                                               
                                </v-flex>
                            <v-flex xs12 sm6 d-flex>
                              <v-text-field v-model="vegetation.vegetation_physiognomy" label="Fisonomía"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 d-flex>
                              <v-text-field v-model="vegetation.vegetation_structure" label="Estructura"></v-text-field>
                            </v-flex>                      
                            <v-switch label="Activo" v-model="vegetation.is_active"></v-switch> 
                            
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                              <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                              <v-btn color="primary" dark  @click="editVegetation">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog> 
                    <v-dialog v-model="mdIngreso" width="500">
                      <v-card>
                          <v-card-title>
                            <span class="headline">Nuevo Registro</span>
                          </v-card-title>
                          <v-card-text>
                            <v-container grid-list-md>

                          <v-layout wrap>
                          
                             <v-flex xs12 sm6 d-flex>
                                <v-select :items="allClima" v-model="clima" item-text="zone_type" item-value="id" label="Clima" :hint="`${clima.id}`"  persistent-hint
                                    return-object single-line ></v-select>                                               
                                </v-flex>
                          <v-flex xs12 sm6 d-flex>
                              <v-text-field v-model="vegetation.vegetation_physiognomy" label="Fisonomía"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 d-flex>
                              <v-text-field v-model="vegetation.vegetation_structure" label="Estructura"></v-text-field>
                          </v-flex>  
                          <v-switch label="Activo" v-model="vegetation.is_active"></v-switch>                            
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                        </v-card>        
                     </v-dialog>

                       <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>

            </v-toolbar>
                <v-toolbar flat color="white">
                  <v-card>
                  <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                  </v-card>
                </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                   <div v-if="allVegetation.length > 0">
                    <v-data-table :headers="headers" :items="allVegetation" :search="search"  :pagination.sync="pagination" class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left" >{{ props.item.id }}</td>
                            <td class="text-xs-left">{{ props.item.id_climaticzone }}</td>
                            <td class="text-xs-left">{{ props.item.vegetation_physiognomy }}</td>
                            <td class="text-xs-left">{{ props.item.vegetation_structure }}</td>
                            <td class="justify-center layout px-0">
                            <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                            </td>
                        </template>                        
                    </v-data-table>
                  </div>  
                    <div v-else >
                      <template  slot="no-data">
                            <v-alert :value="true" color="error" icon="warning">
                              No se encontrearon datos!!
                            </v-alert>
                      </template> 
                    </div>
        </div>
          <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
          </v-snackbar>
    </v-app>
</template>
<script>
export default {
  data: () => ({
     dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",    
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "id clima", value: "clima" },
      { text: "Fisonomía", value: "fiso" },
      { text: "Estructura.", value: "estruc" },

      { text: "Acciones", value: "id", sortable: false }
    ],
    allVegetation: [],
    vegetation: {
      id: "",
      id_climaticzone: "",
      vegetation_physiognomy: "",
      vegetation_structure: "",
      is_active: true

    },
    allClima: [],
    clima: {
      id:"",
      zone_type:""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getVegetation();
      this.getClimate();
    },

    /**
     * Metodo para guardar regitros 
     */
    guardar() {
       console.log("antes",this.vegetation)
      this.vegetation.id_climaticzone = this.climate.id;
      console.log("despues",this.vegetation)
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/climate/vegetation/",
          this.vegetation
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allVegetation = [];
            this.getVegetation();
            this.mdIngreso = false;
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo country
     */
    getVegetation() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/vegetation/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allVegetation = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            this.snackbar = true;

            this.color = "red";
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo climate para llenar combobox clima
     */
    getClimate() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/climate/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            console.log("clima",responde.body)
         
            this.allClima = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editVegetation() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/vegetation/" +
            this.vegetation.id +
            "/",
          this.vegetation
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allVegetation = [];
            this.getVegetation();
            this.mdIngreso = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo grabar el registro!!";
            this.color = "red";
            this.mdIngreso = false;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.vegetation.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/vegetation/" +
            this.rescue.id +
            "/",
          this.rescue
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allVegetation = [];
            this.getVegetation();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.vegetation = this.allVegetation.indexOf(item);
      this.vegetation = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.vegetation = this.allVegetation.indexOf(item);
      this.vegetation = Object.assign({}, item);
      this.mdEliminar = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },
    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>
