<template>
    <v-app id="inspire">
       <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor torres</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                         <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                       
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                 <v-flex xs12 sm6 d-flex>
                                  <v-select :items="allSeccion" v-model="seccion" item-text="extension" item-value="id" label="extencion"   persistent-hint
                                     return-object  single-line >
                                  </v-select>
                                                          
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                  <v-select :items="allFarm" v-model="farm" item-text="name" item-value="id" label="Nombre Granja"   persistent-hint
                                    return-object  single-line >
                                  </v-select>                                             
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.name" label="Nombre"></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.structure_type" label="Tipo Estructura"></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.body_type" label="Tipo Cuerpo"></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.leg_lenght" label="Longuitud"></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.latitude" label="Latitud"></v-text-field>
                              </v-flex>
                               <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.longitude" label="Latitud"></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.longitude_utm" label="longtud utm"></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 d-flex>
                                      <v-text-field v-model="tower.latitude_utm" label="Latitud utm"></v-text-field>
                              </v-flex>                         
                                 <v-switch label="Activo" v-model="tower.is_active"></v-switch>  
                            
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                             <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                             <v-btn color="primary" dark  @click="editTower">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog>
                       <v-dialog v-model="mdIngreso" width="500">
                        <v-card>
                            <v-card-title>
                          <span class="headline">Nuevo Registro</span>
                           </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap> 
                                  <v-flex xs12 sm6 d-flex>
                                      <v-select :items="allSeccion" v-model="seccion" item-text="extension" item-value="id" label="extencion"   persistent-hint
                                        return-object  single-line >
                                      </v-select>
                                                              
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                      <v-select :items="allFarm" v-model="farm" item-text="name" item-value="id" label="Nombre Granja"   persistent-hint
                                        return-object  single-line >
                                      </v-select>                                             
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.name" label="Nombre"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.structure_type" label="Tipo Estructura"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.body_type" label="Tipo Cuerpo"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.leg_lenght" label="Longuitud"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.latitude" label="Latitud"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.longitude" label="Latitud"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.longitude_utm" label="longtud utm"></v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm6 d-flex>
                                          <v-text-field v-model="tower.latitude_utm" label="Latitud utm"></v-text-field>
                                  </v-flex>                         
                                    <v-switch label="Activo" v-model="tower.is_active"></v-switch>                                                      -->
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                          </v-card>        
                      </v-dialog> 
                      <!-- ********************modal eliminar -->
                        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog> 
            </v-toolbar>
              <v-toolbar flat color="white">
                    <v-card>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card>
              </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
              <v-spacer></v-spacer>
                <div v-if="allTower.length > 0"> 
                    <v-data-table :headers="headers" :search="search" :items="allTower"  :pagination.sync="pagination"  class="elevation-1">
                      <template slot="items" slot-scope="props">
                          <td class="text-xs" >{{ props.item.id }}</td>
                          <td class="text-xs">{{ props.item.section_id }}</td>
                          <td class="text-xs">{{ props.item.farm_id }}</td>
                          <td class="text-xs">{{ props.item.name }}</td>
                          <td class="text-xs">{{ props.item.structure_type }}</td>
                          <td class="text-xs">{{ props.item.body_type }}</td>
                          <td class="text-xs">{{ props.item.leg_lenght }}</td>
                          <td class="text-xs">{{ props.item.latitude }}</td>
                          <td class="text-xs">{{ props.item.longitude }}</td>
                          <td class="justify-center layout px-0">
                          <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                          <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                          </td>
                      </template>
                    </v-data-table>
                   </div>  
            <div v-else >
                <template  slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                      No se encontrearon datos!!
                             </v-alert>
                </template> 
             </div>   
       
         <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
        </v-snackbar>
       </div>
    </v-app>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id Sección", value: "section" },
      { text: "id Granja", value: "granja" },
      { text: "nombre", value: "name" },
      { text: "Tipo Estructura", value: "tipo" },
      { text: "Tipo Cuerpo", value: "cuerpo" },
      { text: "largo", value: "largo" },
      { text: "latitud", value: "latitud" },
      { text: "Longuitud", value: "nombre" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allTower: [],
    tower: {
      id: "",
      section_id: "",
      farm_id: "",
      name: "",
      structure_type: "",
      body_type: "",
      leg_lenght: "",
      latitude: "",
      longitude: "",
      latitude_utm: "",
      longitude_utm: "",
      is_active: true
    },
    allSeccion:[],
    seccion:{
      id:"",
      extension:""

    },
    allFarm:[],
    farm:{
      id:"",
      name:""
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getTower();
      this.getSeecion();
      this.getFarm();
    },

       /**
     * Metodo que permite ingresar registro en el modelo species
     */
    guardar() {
       this.tower.section_id = this.seccion.id;
       this.tower.farm_id = this.farm.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/project/towertable/",
          this.tower
        )
        .then(
          response => {
           this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allTower = [];
            this.getTower();
            this.mdIngreso = false;
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;;
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo country
     */
    getTower() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/project/towertable/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allTower = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },
    /**
     * Método que nostrae los registros del modelo country
     */
    getSeecion() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/project/section/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allSeccion = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo country
     */
    getFarm() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/location/farm/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allFarm = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editTower() {
      // console.log(this.project)
      this.$http
        .patch(
          "///epunamum.herokuapp.com/api/v1/project/towertable/" +
            this.tower.id +
            "/",
          this.tower
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
             this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allTower = [];
            this.getTower();
            this.dialog = false; 
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
            this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.tower.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/project/towertable/" +
            this.tower.id +
            "/",
          this.tower
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allTower = [];
            this.getTower();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.tower = this.allTower.indexOf(item);
      this.tower = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.tower = this.allTower.indexOf(item);
      this.tower = Object.assign({}, item);
      this.mdEliminar = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>