<template>
    <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Caracteristicas flora</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <!-- <v-flex xs12 sm6 md4>
                                <v-text-field v-model="species.name" label="Nombre"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                <v-text-field v-model="species.species_family" label="Familia"></v-text-field>
                                </v-flex>        -->
                            
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" flat @click="editClimateFeat">Guardar</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog> 
                     <v-dialog v-model="mdIngreso" width="500">
                        <v-card>
                            <v-card-title>
                          <span class="headline">Nuevo Registro</span>
                           </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap> 
                             <v-flex xs12 sm6 d-flex>
                              <v-select :items="allFlora" v-model="flora" item-text="flora_type" item-value="id" label="Tipo Flora"   persistent-hint
                              return-object  single-line ></v-select>                                             
                            </v-flex>
                            <v-flex xs12 sm6 d-flex>
                              <v-select :items="allClimate" v-model="climate" item-text="zone_type" item-value="id" label="Tipo zona"   persistent-hint
                              return-object  single-line ></v-select>                                             
                            </v-flex> 
                            <v-flex xs12 sm6 d-flex>
                              <v-select :items="allGeografia" v-model="geografia" item-text="type_zone" item-value="id" label="Tipo Geografia"   persistent-hint
                              return-object  single-line ></v-select>                                             
                             </v-flex>                          
                                 <v-switch label="Activo" v-model="floraFeat.is_active"></v-switch>                                                     
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                          </v-card>        
                      </v-dialog> 
                      <!-- ********************modal eliminar -->
                        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>
            </v-toolbar>
             <v-toolbar flat color="white">
                    <v-card>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card>
                  </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                 <div v-if="allFloraFeat.length > 0"> 
                <v-data-table :headers="headers" :search="search" :items="allFloraFeat"  :pagination.sync="pagination"  class="elevation-1">
                <template slot="items" slot-scope="props">
                    <td class="text-xs" >{{ props.item.id }}</td>
                    <td class="text-xs">{{ props.item.id_floratype }}</td>
                    <td class="text-xs">{{ props.item.id_climaticzone }}</td>
                    <td class="text-xs">{{ props.item.id_geographiczone }}</td>
                    <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                    </td>
                </template>
                
                </v-data-table>
                </div>  
            <div v-else >
                <template  slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                      No se encontrearon datos!!
                             </v-alert>
                </template> 
             </div>  
                 
        </div>
        <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
        </v-snackbar>
    </v-app>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id Tipo flora", value: "flora" },
      { text: "Id Zona Clima", value: "clima" },
      { text: "Id Zon Geo.", value: "geo" },

      { text: "Acciones", value: "id", sortable: false }
    ],
    allFloraFeat: [],
    floraFeat: {
      id: "",
      id_floratype: "",
      id_climaticzone: "",
      id_geographiczone: "",
      is_active: true
    },
    allFlora: [],
    flora: {
      id: "",
      flora_type: ""
    },
    allClimate: [],
    climate: {
      id: "",
      zone_type: ""
    },
    allGeografia: [],
    geografia: {
      id: "",
      type_zone: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getFloraFeat();
    },

    /**
     * Metodo que permite ingresar registro en el modelo species
     */
    guardar() {
      this.floraFeat.id_floratype = this.flora.id;
      this.floraFeat.id_climaticzone = this.climate.id;
      this.floraFeat.id_geographiczone = this.geografia.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/flora/floraFeatures/",
          this.floraFeat
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allFloraFeat = [];
            this.getFloraFeat();
            this.mdIngreso = false;
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo country
     */
    getFloraFeat() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/flora/floraFeatures/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allFloraFeat = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo clima para llenar combobox clima
     */
    getclimate() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allClimate = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /** metodo que nos permite traer el modelo tipo geografia para llenar combobox */
    getGeo() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/geo/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allGeografia = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editClimateFeat() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/flora/floraFeatures/" +
            this.climateFeat.id +
            "/",
          this.climateFeat
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allFloraFeat = [];
            this.getFloraFeat();
            this.dialog = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.rescue.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/flora/floraFeatures/" +
            this.climateFeat.id +
            "/",
          this.climateFeat
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allClimateFeat = [];
            this.getFloraFeat();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.climateFeat = this.allClimateFeat.indexOf(item);
      this.climateFeat = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.climateFeat = this.allFloraFeat.indexOf(item);
      this.climateFeat = Object.assign({}, item);
      this.mdEliminar = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>
