<template>
   <v-app>
        <v-form>
            <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm6 d-flex>
                    <v-select :items="allIndividual" v-model="individual" item-text="name" item-value="id" label="Nombre" :hint="`${individual.id}`"  persistent-hint
                    return-object  single-line ></v-select>
                                             
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="relocalization.soil_condition" label="Condicion del suelo"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="relocalization.climate_condition" label="Condición del Clima"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="relocalization.weather_condition" label="Condición del Tiempo"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="relocalization.phytosanitary_state" label="Condición Fitosanitario"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="relocalization.phenological_state" label="Conditión Fenologico"></v-text-field>
                </v-flex>

                
            </v-layout>
            </v-container>
            <div class="text-xs-center">
                    <div>
                    <v-btn color="primary" dark @click="guardar()">Guardar
                        <v-icon dark right>check_circle</v-icon>
                    </v-btn>
                    </div>
                </div>    
        </v-form>
    </v-app>  
</template>
<script>
export default {
  data: () => ({
    relocalization:{
        id:"",
        id_individual:"",
        soil_condition:"",
        climate_condition:"",
        weather_condition:"",
        phytosanitary_state:"",
        phenological_state:""
    },
    allIndividual:[],     
    individual: {
      id:"",
      name:""
     
    }
  }),
  created () {
      this.initialize()
    },
  methods: {
    initialize () {
        this.getIndividual();
  
    }, 
    /**
    * Metodo que permite ingresar registro en el modelo species
    */
    guardar() {
        this.relocalization.id_individual = this.individual.id
      this.$http
        .post("https://epunamum.herokuapp.com/api/v1/flora/species/individual/relocalization/", this.relocalization)
        .then(
          response => {
              console.log(response.body)
            // this.sw = true;
            // this.title = "Exito!";
            // this.content = "Los datos fueron Ingresados satisfactoriamente";
          },
          error => {
            // this.sw = true;
            // this.title = "Error " + error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },
    
    /**
    * Método que nostrae los registros del modelo flora para llenar combobox clima
    */
    getIndividual() {      
      this.$http
        .get("//epunamum.herokuapp.com/api/v1/flora/species/individual/",
        // {
        //   headers: { Authorization: "JWT " + this.atoken }
        // }
        )
        .then(
          response => {          
            this.allIndividual = response.body;               
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },
  }
};
</script>
<style>

</style>
