<template>
 <v-app id="inspire" >
    <div>
        <v-toolbar flat color="white">
        <v-toolbar-title>Mantenedor Humedad Ambiente</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                   <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                                 
            <v-dialog v-model="dialog" max-width="500px">         
              <v-card>
                <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12 sm6 d-flex>
                        <v-select :items="allClima" v-model="clima" item-text="zone_type" item-value="id" label="Clima" persistent-hint
                                  return-object single-line>
                        </v-select>                                             
                     </v-flex>
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="ambient.max_ambient_humidity" label="humedad maxima"></v-text-field>
                    </v-flex>  
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="ambient.min_ambient_humidity" label="Humeddad mínima"></v-text-field>
                    </v-flex>  
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="ambient.mean_ambient_humidity" label="Humedad Media"></v-text-field>
                    </v-flex>  
                         <v-switch label="Activo" v-model="ambient.is_active"></v-switch>  
                
                </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>            
                  <v-btn color="primary" dark  @click="editAmbient">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog> 
            <v-dialog v-model="mdIngreso" width="500">
               <v-card>
                  <v-card-title>
                    <span class="headline">Nuevo Registro</span>
                  </v-card-title>
                    <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 d-flex>
                          <v-select :items="allClima" v-model="clima" item-text="zone_type" item-value="id" label="Clima"   persistent-hint
                                  return-object single-line>
                          </v-select>                                             
                        </v-flex>
                        
                        <v-flex xs12 sm6 d-flex>
                            <v-text-field v-model="ambient.max_ambient_humidity" label="humedad maxima"></v-text-field>
                        </v-flex>  
                        <v-flex xs12 sm6 d-flex>
                            <v-text-field v-model="ambient.min_ambient_humidity" label="Humeddad mínima"></v-text-field>
                         </v-flex>  
                        <v-flex xs12 sm6 d-flex>
                            <v-text-field v-model="ambient.mean_ambient_humidity" label="Humedad Media"></v-text-field>
                        </v-flex> 
                         <v-switch label="Activo" v-model="ambient.is_active"></v-switch>   
                        
                        
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>            
                    <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                  </v-card-actions>
                </v-card>        
        </v-dialog>
        <!-- ********************modal eliminar -->
              <v-dialog v-model="mdEliminar" width="500">
                  <v-card>
                    <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                    </v-card-title>
                      <v-card-text>
                              Esta seguro de eliminar el registro!!!
                      </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                  </v-card>        
              </v-dialog>                     
        </v-toolbar>
            <v-toolbar flat color="white">
              <v-card>
                 <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
              </v-card>
            </v-toolbar>
              <v-divider class="mx-2" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <div v-if="allAmbient.length > 0">
                  <v-data-table :headers="headers" :items="allAmbient" :search="search" :pagination.sync="pagination" class="elevation-1">
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-center" >{{ props.item.id }}</td>
                      <td class="text-xs-center">{{ props.item.id_climaticzone}}</td>
                      <td class="text-xs-center">{{ props.item.max_ambient_humidity }}</td>     
                      <td class="text-xs-center">{{ props.item.min_ambient_humidity }}</td>  
                      <td class="text-xs-center">{{ props.item.mean_ambient_humidity }}</td>   
                      <td class="justify-center layout px-0">
                      <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                      <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                      </td>
                       </template>
                  
                  </v-data-table>
              </div>
               <div v-else >
                  <template  slot="no-data">
                        <v-alert :value="true" color="error" icon="warning">
                          No se encontrearon datos!!
                        </v-alert>
                    </template> 
              </div>    
    </div>
      <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="mode === 'multi-line'"
        :timeout="timeout"     
        :vertical="mode === 'vertical'" >
        {{ text }}   
      </v-snackbar>
  </v-app>   
    
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id clima", value: "clima" },
      { text: "humedad ambiente Max.", value: "max" },
      { text: "Humedad ambiente Min.", value: "min" },
      { text: "Humedad ambiente  Med.", value: "med " },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allAmbient: [],
    ambient: {
      id: "",
      id_climaticzone: "",
      max_ambient_humidity: "",
      min_ambient_humidity: "",
      mean_ambient_humidity: "",
      is_active:true
    },
    allClima: [],
    clima: {
      id: "",
      zone_type: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getAmbient();
      this.getWeather();
    },
    /**
     * Método que permite guardar en el modelo  ambient humidity
     * */

    guardar() {
      this.ambient.id_climaticzone = this.clima.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/climate/ambienthumidity/",
          this.ambient
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allAmbient = [];
            this.getAmbient();
            this.mdIngreso = false;
          },
          error => {
             this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = fal
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo weather
     */
    getAmbient() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/ambienthumidity/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            console.log(response.body)
            this.allAmbient = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo weather para llenar combobox clima
     */
    getWeather() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/climate/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            
            this.allClima = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editAmbient() {
     
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/ambienthumidity/" +
            this.ambient.id +
            "/",
          this.ambient
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allAmbient = [];
            this.getAmbient();
            this.dialog = false; ;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.ambient.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/ambienthumidity/" +
            this.ambient.id +
            "/",
          this.ambient
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allAmbient = [];
            this.getAmbient();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.ambient = this.allAmbient.indexOf(item);
      this.ambient = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.allAmbient = this.allAmbient.indexOf(item);
      this.ambient = Object.assign({}, item);
      this.mdEliminar = true;
    },


   
    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>
