<template>
    <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Mantenedor Carasteristicas Clima</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        
                        <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                  <v-flex xs12 sm6 d-flex>
                                <v-select :items="allVegetation" v-model="vegetation" item-text="vegetation_physiognomy"
                                  item-value="id" label="Vegetacion"   persistent-hint return-object single-line >
                                </v-select>                                               
                              </v-flex> 
                              <v-flex xs12 sm6 d-flex>
                                <v-select :items="allTemperature" v-model="temperature" item-text="mean_temp"
                                  item-value="id" label="Temperatura media"   persistent-hint return-object single-line >
                                </v-select>                                               
                              </v-flex>     
                               <v-flex xs12 sm6 d-flex>
                                <v-select :items="allHumedad" v-model="humedad" item-text="mean_ambient_humidity"
                                  item-value="id" label="Humedad media"   persistent-hint return-object single-line >
                                </v-select>                                               
                              </v-flex>                                                    
                                 <v-switch label="Activo" v-model="climateFeat.is_active"></v-switch>  
                            
                            </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                              <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                              <v-btn color="primary" dark  @click="editClimateFeat">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog> 
                      <v-dialog v-model="mdIngreso" width="500">
                        <v-card>
                            <v-card-title>
                          <span class="headline">Nuevo Registro</span>
                           </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>     
                            <v-layout wrap> 
                              <v-flex xs12 sm6 d-flex>
                                <v-select :items="allVegetation" v-model="vegetation" item-text="vegetation_physiognomy"
                                  item-value="id" label="Vegetacion"   persistent-hint return-object single-line >
                                </v-select>                                               
                              </v-flex> 
                              <v-flex xs12 sm6 d-flex>
                                <v-select :items="allTemperature" v-model="temperature" item-text="mean_temp"
                                  item-value="id" label="Temperatura media"   persistent-hint return-object single-line >
                                </v-select>                                               
                              </v-flex>     
                               <v-flex xs12 sm6 d-flex>
                                <v-select :items="allHumedad" v-model="humedad" item-text="mean_ambient_humidity"
                                  item-value="id" label="Humedad media"   persistent-hint return-object single-line >
                                </v-select>                                               
                              </v-flex>                                                    
                                 <v-switch label="Activo" v-model="climateFeat.is_active"></v-switch>                                                     
                            </v-layout>
                          </v-container>
                        </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
                          </v-card-actions>
                          </v-card>        
                      </v-dialog> 
                      <!-- ********************modal eliminar -->
                        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>
            </v-toolbar>
              <v-toolbar flat color="white">
                    <v-card>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card>
                  </v-toolbar>
                  <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                 <div v-if="allClimateFeat.length > 0"> 
                  <v-data-table :headers="headers" :search="search" :items="allClimateFeat"  :pagination.sync="pagination"  class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs" >{{ props.item.id }}</td>
                        <td class="text-xs">{{ props.item.vegetationtype_id }}</td>
                        <td class="text-xs">{{ props.item.temperature_id }}</td>
                        <td class="text-xs">{{ props.item.ambienthumidity_id }}</td>
                        <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                        </td>
                    </template>                  
                  </v-data-table>
                 </div>  
            <div v-else >
                <template  slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                      No se encontrearon datos!!
                             </v-alert>
                </template> 
             </div> 
                 
        </div>
        <v-snackbar
            v-model="snackbar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"     
            :vertical="mode === 'vertical'" >
            {{ text }}   
        </v-snackbar>
    </v-app>
</template>
<script>
export default {
  data: () => ({
     dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",    
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id Vegetacion", value: "vegetacion" },
      { text: "Id Temperatura", value: "tem" },
      { text: "Id Humedad Ambiente", value: "amb" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allClimateFeat: [],
    climateFeat: {
      id: "",
      vegetationtype_id: "",
      temperature_id: "",
      ambienthumidity_id: "",
      is_active:true
    },
    allVegetation:[],
    vegetation:{
      id:"",
      vegetation_physiognomy:""
    },
    allTemperature:[],
    temperature:{
      id:"",
      mean_temp:""

    }, 
    allHumedad:[],
    humedad:{
      id:"",
      mean_ambient_humidity:""
    }   

  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    } 
    
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getClimateFeat();
      this.getVegetacion();
      this.getTemperature();
      this.getHumedad();
    },

     /**
     * Metodo que permite ingresar registro en el modelo species
     */
    guardar() {
      // this.species.id_flora = this.flora.id
      this.climateFeat.vegetationtype_id = this.vegetation.id;
      this.climateFeat.temperature_id = this.temperature.id;
      this.climateFeat.ambienthumidity_id = this.humedad.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/climate/climateFeatures/",
          this.climateFeat
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allClimateFeat = [];
            this.getClimateFeat();
            this.mdIngreso = false; 
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!   " +
              " " +
              JSON.stringify(error.body.detail);
            this.color = "red";
            this.mdIngreso = false;;
          }
        );
    },
 
    /**
     * Método que nostrae los registros del modelo country
     */
    getClimateFeat() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/climateFeatures/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
           
            this.allClimateFeat = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

     /**
     * Método que nostrae los registros del modelo vegetación para llenar lista despegable
     */
    getVegetacion() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/vegetation/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {      
            this.allVegetation = response.body;          
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo clima para llenar lista despegable
     */
    getTemperature() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/temperature/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {      
            this.allTemperature = response.body;          
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo Humedad para llenar lista despegable
     */
    getHumedad() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/ambienthumidity/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {      
            this.allHumedad = response.body;          
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editClimateFeat() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/climateFeatures/" +
            this.climateFeat.id +
            "/",
          this.climateFeat
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
             this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allClimateFeat = [];
            this.getClimateFeat();
            this.dialog = false; 
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
       this.climateFeat.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/climateFeatures/" +
            this.climateFeat.id +
            "/",
          this.climateFeat
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allClimateFeat = [];
            this.getClimateFeat();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },



    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.climateFeat = this.allClimateFeat.indexOf(item);
      this.climateFeat = Object.assign({}, item);
      this.dialog = true;
    },

    /**
      * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.climateFeat = this.allClimateFeat.indexOf(item);
      this.climateFeat = Object.assign({}, item);
      this.mdEliminar = true;
    },

     /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }  


   
  }
};
</script>
<style>
</style>
