
<template>
  
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list dense>
          <v-list-tile @click="toInicio" >
              <v-list-tile-action>
                <v-icon>home</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Inicio</v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>

          <v-list-group prepend-icon="fas fa-cog" value="true">
              <v-list-tile slot="activator">
                  <v-list-tile-title>Mantenedores</v-list-tile-title>
              </v-list-tile>
                
                      <v-list-tile  @click="toConfigClima">
                        <v-list-tile-title>Clima</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="tomHumidity">
                        <v-list-tile-title>Humedad Ambiente</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMPrecipitation">
                        <v-list-tile-title>Precipitación</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMTemperature">
                        <v-list-tile-title>Temperatura</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toMVegetation">
                        <v-list-tile-title>Vegetación</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMPais">
                        <v-list-tile-title>País</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMRegion">
                        <v-list-tile-title>Region</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMComuna">
                        <v-list-tile-title>Comuna</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMflora">
                        <v-list-tile-title>Flora</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMfloraIndividual">
                        <v-list-tile-title>Individual</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMRescate">
                        <v-list-tile-title>Rescate Flora</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMExposicion">
                        <v-list-tile-title>Exposición</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toMSuelo">
                        <v-list-tile-title>Suelo</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMGeo">
                        <v-list-tile-title>Geo</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toMGeoFeat">
                        <v-list-tile-title>Carasteristicas Geograficas</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMClimaFeat">
                        <v-list-tile-title>Carasteristicas Clima</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toMFloraFeat">
                        <v-list-tile-title>Carasteristicas Flora</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toMProyecto">
                        <v-list-tile-title>Proyecto</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMSeccion">
                        <v-list-tile-title>Sección</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                       <v-list-tile  @click="toMFarm">
                        <v-list-tile-title>Granja</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMTower">
                        <v-list-tile-title>Torre</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile  @click="toMRelocalization">
                        <v-list-tile-title>Relocalización</v-list-tile-title>
                          <v-list-tile-action>
                              <v-icon ></v-icon>
                          </v-list-tile-action>
                      </v-list-tile>


          </v-list-group>  



      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{atitle}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex text-xs-center>
            <router-view></router-view>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
  </v-app>
</template>


<script>
export default {
  data: () => ({
    drawer: null,
    atitle: ""
  }),
  props: {
    source: String
  },
  methods: {
    toConfigProyecto() {
      this.atitle = "Proyecto";
      this.$router.push({ name: "Index" });
      this.menuVisible = !this.menuVisible;
    },
    toConfigClima() {
      this.atitle = "Ingreso Clima";
      this.$router.push({ name: "MClima" });
    },
    tomHumidity() {
      this.atitle = "Configuración Humedad Ambiente";
      this.$router.push({ name: "MHumidityAmbient" });
    },
    toMPrecipitation() {
      this.atitle = "Configuración Precipitación";
      this.$router.push({ name: "mPrecipitation" });
    },
    toMTemperature() {
      this.atitle = "Configuracion Temperatura";
      this.$router.push({ name: "mTemperature" });
    },
    toMVegetation() {
      this.atitle = "Configuración Vegetación";
      this.$router.push({ name: "MVegetation" });
    },
    toMPais() {
      this.atitle = "Configuración País";
      this.$router.push({ name: "MCountry" });
    },
    toMRegion() {
      this.atitle = "Configuración Región";
      this.$router.push({ name: "MRegion" });
    },
    toMComuna() {
      this.atitle = "Configuración Comuna";
      this.$router.push({ name: "MCommune" });
    },
    toInicio() {
      this.atitle = "Inicio";
      this.$router.push({ name: "HomeInicio" });
    },
    toMflora() {
      this.atitle = "Configuración Flora";
      this.$router.push({ name: "Mflora" });
    },
    toMfloraIndividual() {
      this.atitle = "Configuración individual";
      this.$router.push({ name: "MIndividual" });
    },
    toMRescate() {
      this.atitle = "Configuración Rescate ";
      this.$router.push({ name: "MRescue" });
    },
    toMExposicion() {
      this.atitle = "Configuración Exposición ";
      this.$router.push({ name: "MExposure" });
    },
    toMSuelo() {
      this.atitle = "Configuración Suelo ";
      this.$router.push({ name: "MSoil" });
    },
    toMGeo() {
      this.atitle = "Configuración Geo ";
      this.$router.push({ name: "MGeo" });
    },
    toMGeoFeat() {
      this.atitle = "Configuración Carastetistica ";
      this.$router.push({ name: "MGeoFeatures" });
    },
    toMFloraFeat() {
      this.atitle = "Configuración Carastetistica Flora ";
      this.$router.push({ name: "MFloraFeat" });
    },
    toMClimaFeat() {
      this.atitle = "Configuración Carastetistica Clima ";
      this.$router.push({ name: "MCliamteFeat" });
    },
    toMProyecto() {
      this.atitle = "Configuración Proyecto ";
      this.$router.push({ name: "MProyecto" });
    },
    toMSeccion() {
      this.atitle = "Configuración Seeción ";
      this.$router.push({ name: "MSeccion" });
    },
    toMFarm() {
      this.atitle = "Configuración Granja ";
      this.$router.push({ name: "MFarm" });
    },
    toMTower() {
      this.atitle = "Configuración Torre ";
      this.$router.push({ name: "MTower" });
    },
    toMRelocalization() {
      this.atitle = "Configuración Relocalización ";
      this.$router.push({ name: "MRelocalization" });
    }
  }
};
</script>
  <style>
</style>
