<template>
    <v-app>
        <v-form>
            <v-container>
            <v-layout row wrap>
                    <v-flex xs12 sm6 d-flex>
                        <v-select :items="allClimate" v-model="climate" item-text="zone_type" item-value="id" label="Clima" :hint="`${climate.id}`"  persistent-hint
                        return-object single-line ></v-select>                                               
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-text-field v-model="weather.weather_type" label="Tipo clima"></v-text-field>
                    </v-flex>
                   
            </v-layout>
            </v-container>
            <div class="text-xs-center">
                    <div>
                    <v-btn color="primary" dark @click="guardar()">Guardar
                        <v-icon dark right>check_circle</v-icon>
                    </v-btn>
                    </div>
                </div>    
        </v-form>
    </v-app>   
    
</template>
<script>
export default {
   data: () => ({
    allWeather: [],
    weather: {
      id: "",
      id_climaticzone: "",
      weather_type: ""
    },
    allClimate: [],
    climate: {
      id: "",
      zone_type: ""
    }
  }),
  created() {
    this.initialize();
  },
  methods: {
    initialize() {
      this.getClimate();
    },
    /**
     * Método que permite guardar en el modelo weather
     */
    guardar() {
      // console.log("all",this.climate)
      // console.log("guardar",this.temperature)
      this.weather.id_climaticzone= this.climate.id;
      this.$http
        .post("//epunamum.herokuapp.com/api/v1/climate/weather/", this.weather)
        .then(
          response => {
            console.log(response.body);
            // this.sw = true;
            // this.title = "Exito!";
            // this.content = "Los datos fueron Ingresados satisfactoriamente";
          },
          error => {
            // this.sw = true;
            // this.title = "Error " + error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },
    /**
     * Método que nostrae los registros del modelo climate para llenar combobox clima
     */
    getClimate() {
      this.$http
        .get("//epunamum.herokuapp.com/api/v1/climate/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allClimate = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    }
  }
};
</script>
<style>
</style>
