<template>
    <v-app>
         <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Mantenedor Clima</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
         <v-dialog v-model="dialog" max-width="500px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                   <v-flex xs12 sm6 md4>
                  <v-text-field v-model="weather.weather_type" label="Temperatura maxima"></v-text-field>
                </v-flex>   
               
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="editWeather">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> 
    </v-toolbar>
    <v-data-table :headers="headers" :items="allWeather"  hide-actions class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs" >{{ props.item.id }}</td>
        <td class="text-xs">{{ props.item.id_climaticzone }}</td>
        <td class="text-xs">{{ props.item.weather_type }}</td>      
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
          <v-icon small @click="deleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">
            No se encontrearon datos!!
          </v-alert>
      </template>
    </v-data-table>
  </div>
    </v-app>
</template>
<script>
export default {
    data: () => ({
      dialog: false,
      headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: false,
          value: 'id'
        },
        { text: 'Id clima', value: 'clima' },        
        { text: 'Tipo clima .', value: 'tipo' },   
        { text: 'Acciones', value: 'id', sortable: false }
      ],
      allWeather:[],
      weather:{
        id:"",
        id_climaticzone:"",        
        weather_type:"",
       

      },    
    }),

    computed: {
      formTitle () {
         return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.getWeather();
  
      },
     
    /**
    * Método que nostrae los registros del modelo weather
    */
    getWeather() {      
      this.$http
        .get("//epunamum.herokuapp.com/api/v1/climate/weather/",
        // {
        //   headers: { Authorization: "JWT " + this.atoken }
        // }
        )
        .then(
          response => {        
         
            this.allWeather = response.body;               
              //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country 
     */
    editWeather() {
       // console.log(this.project)      
          this.$http
            .patch("//epunamum.herokuapp.com/api/v1/climate/weather/" + this.weather.id + "/", this.weather,
              // { headers: { Authorization: "JWT " + this.atoken } }
            )
            .then(
              response => {
                // this.sw = true;
                // this.title = "Exito!";
                // this.content = "Los datos fueron editados satisfactoriamente"; 
              },
              error => {
                // this.sw = true;
                // this.title = error.status;
                this.content = JSON.stringify(error.body.detail);
              }
            );
       
     
    },
    
    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem (item) {
      this.weather = this.allWeather.indexOf(item)
      this.weather = Object.assign({}, item)
      this.dialog = true
    },

      // deleteItem (item) {
      //   const index = this.desserts.indexOf(item)
      //   confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      // },

    //   close () {
    //     this.dialog = falseexport default {
    
    //    }
    //     setTimeout(() => {
    //       this.editedItem = Object.assign({}, this.defaultItem)
    //       this.editedIndex = -1
    //     }, 300)
    //   },

      // save () {
      //   if (this.editedIndex > -1) {
      //     Object.assign(this.desserts[this.editedIndex], this.editedItem)
      //   } else {
      //     this.desserts.push(this.editedItem)
      //   }
      //   this.close()
      // }
    }
  }
</script>
<style>

</style>
