<template>
     <v-app id="inspire">
        
            <v-container>
            <v-layout row wrap>
               
                <v-flex xs12 sm6 d-flex>
                        <v-text-field  label="Nombre Comuna"></v-text-field>
                </v-flex>
               
                
            </v-layout>
            </v-container>
              
        
    </v-app>
</template>