<template>
 <!-- <form action="http://EuotV3yKX108dSpXp39mwC6UAPsvPpatyYTKycd8:onb3GsAnYWomGvQGqwB0LMrf5NlyGp03czhAI1cjwGO7P5O8lP5ef1IVliVVfOw03qvBvQV5cZikgJAcdx3u4kuCYzG55SM85Cwvr6WG3qTX24qhZgrt80Q8Tv2EEW9w@epunamum.herokuapp.com/o/token/"
  method="POST" enctype="multipart/form-data">
 

  <div >
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="grant_type" required value="password"> 
    <input type="text" placeholder="Enter Username" name="user" required value="contacto">
    <input type="text" placeholder="Enter Username" name="password" required value="1234test">


    <button type="submit" >Login</button> 
   
  </div>

  <div >
    <button type="button" class="cancelbtn">Cancel</button>
    
  </div>
</form> -->
<v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
               
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" v-model="user.username" name="login" label="Login" type="text"></v-text-field>
                    <v-flex >
                       <v-text-field v-model="user.password" prepend-icon="lock" :append-icon="show1 ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.min]"
                            :type="show1 ? 'text' : 'password'"
                            name="input-10-1"
                            label="Contraseña"
                            hint="At least 8 characters"
                            counter>
                            @click:append="show1 = !show1">
                         </v-text-field>
                    </v-flex>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="obtainToken()" >Entrar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>    
</template>
<script>
export default {
  data() {
    return {
      drawer: null,
      show1: false,
      atoken:"",
      
      user:{
     
          username:"",
          password:"password"
      },
      password:"",
      grant_type:"password",
      rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match')
        }
    };
  },

  props: {
    source: String
  },
  // mounted() {
  //     auth0.authorize();
  //   },
  methods:{
      /**
       * Método que permite obtener un token 
       */
      obtainToken(){
          // var ClientOAuth2 = require('client-oauth2')
          // var githubAuth = new ClientOAuth2({
          //       clientId: 'EuotV3yKX108dSpXp39mwC6UAPsvPpatyYTKycd8',
          //       clientSecret: 'onb3GsAnYWomGvQGqwB0LMrf5NlyGp03czhAI1cjwGO7P5O8lP5ef1IVliVVfOw03qvBvQV5cZikgJAcdx3u4kuCYzG55SM85Cwvr6WG3qTX24qhZgrt80Q8Tv2EEW9w',
          //       accessTokenUri: 'https://epunamum.herokuapp.com/o/token/',
          //       // authorizationUri: 'https://github.com/login/oauth/authorize',
          //       // redirectUri: 'http://example.com/auth/github/callback',
          //       scopes: ['read']
          //     })
          //     githubAuth.owner.getToken('contacto', '1234test')
          //     .then(function (user) {
          //       console.log(user) //=> { accessToken: '...', tokenType: 'bearer', ... }
          //     })

          console.log(this.user)
          console.log(this.grant_type)

        var form = new URLSearchParams();
          form.append("grant_type", "password");
          form.append("username", "contacto");
          form.append("password", "1234test" );
        
            this.$http
         .post("//EuotV3yKX108dSpXp39mwC6UAPsvPpatyYTKycd8:onb3GsAnYWomGvQGqwB0LMrf5NlyGp03czhAI1cjwGO7P5O8lP5ef1IVliVVfOw03qvBvQV5cZikgJAcdx3u4kuCYzG55SM85Cwvr6WG3qTX24qhZgrt80Q8Tv2EEW9w@epunamum.herokuapp.com/o/token/",
          form,
          // {headers:{'Access-Control-Allow-Headers', 'Content-Type':'application/x-www-form-urlencoded',Authorization:'OAuth' }}

        // form,
        // {username:this.user.username,password:this.user.password,grant_type:this.password}  
        //  { headers:{Authirzation:"OAuth2"}  }
        //  {headers:{"Content-Type": "application/x-www-form-urlencoded"}, "processData": false, "contentType": false,
        //             "mimeType": "multipart/form-data",}
         
      
         )

        .then(
          response => {
              console.log(response.body)
              this.atoken=response.body.access_token;

             console.log(this.atoken)
            // this.sw = true;s
            // this.title = "Exito!";
            // this.content = "Los datos fueron Ingresados satisfactoriamente";
          },
          error => {
            // this.sw = true;
            // this.title = "Error " + error.status;
            // console.log(JSON.stringify(error.body.detail));
            this.content = JSON.stringify(error.body.detail);
          }
        );

      }

  },
};
</script>
<style>
</style>
