<template>
    <v-app>
        <v-form>
            <v-container>
            <v-layout row wrap>
                    <!-- <v-flex xs12 sm6 d-flex>
                        <v-select :items="allIndiviudal" v-model="individual" item-text="name" item-value="id" label="individual"   persistent-hint
                        return-object single-line ></v-select>                                               
                    </v-flex> -->
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="tracking.growth" label="Crecimientos"></v-text-field>
                    </v-flex>
                      <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="tracking.phytosanitary_state" label="Estado Fitosanitario"></v-text-field>
                    </v-flex>
                      <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="tracking.phenological_state" label="Estado fenologico"></v-text-field>
                    </v-flex>
                      <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="tracking.soil_condition" label="Condición Suelo"></v-text-field>
                    </v-flex>
                      <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="tracking.weather_condition" label="Condición tiempo "></v-text-field>
                    </v-flex>
                   
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="tracking.climate_condition" label="Condición del Clima"></v-text-field>
                    </v-flex>
                   
            </v-layout>
            </v-container>
            <div class="text-xs-center">
                    <div>
                    <v-btn color="primary" dark @click="guardar()">Guardar
                        <v-icon dark right>check_circle</v-icon>
                    </v-btn>
                    </div>
                </div>    
        </v-form>
    </v-app>   
    
</template>
<script>
export default {
  data: () => ({
    tracking: {
      id: 5,
      id_relocalization: "",
      growth: "",
      phytosanitary_state: "",
      phytosanitary_state: "",
      soil_condition: "",
      weather_condition: "",
      climate_condition: ""
    },
    allIndiviudal: [],
    individual: {
      id: "",
      name: ""
    }
  }),
  created() {
    this.initialize();
  },
  methods: {
    initialize() {
      this.getIndividual();
    },
    /**
     * Método que permite guardar en el modelo weather
     */
    guardar() {
      this.rescue.id_individual = this.individual.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/flora/species/individual/rescue/",
          this.rescue
        )
        .then(
          response => {
            console.log(response.body);
            // this.sw = true;
            // this.title = "Exito!";
            // this.content = "Los datos fueron Ingresados satisfactoriamente";
          },
          error => {
            // this.sw = true;
            // this.title = "Error " + error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    }
    /**
     * Método que nostrae los registros del modelo climate para llenar combobox clima
     */
    // getIndividual() {
    //   this.$http
    //     .get("//epunamum.herokuapp.com/api/v1/flora/species/individual/"
    //       // {
    //       //   headers: { Authorization: "JWT " + this.atoken }
    //       // }
    //     )
    //     .then(
    //       response => {
    //         this.allIndiviudal = response.body;
    //       },
    //       error => {
    //         // this.sw = true;
    //         // this.title = error.status;
    //         // this.content = JSON.stringify(error.body.detail);
    //       }
    //     );
    // }
  }
};
</script>
<style>
</style>
