<template>
  <v-app id="inspire">
    <div>
        <v-toolbar flat color="white">
        <v-toolbar-title>Mantenedor Precipitacón</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                 <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
            <v-dialog v-model="dialog" max-width="500px">
         
            <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                <v-layout wrap>
                     <v-flex xs12 sm6 d-flex>
                    <v-select :items="allWeather" v-model="weather" item-text="weather_type" item-value="id" label="Clima" :hint="`${weather.id}`"  persistent-hint
                            return-object single-line>
                    </v-select>                                             
                </v-flex>
               <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.type_precipitation" label="Tipo Precipitación"></v-text-field>
                </v-flex>
                 <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.max_precipitation" label="Precipitación Maxima"></v-text-field>
                </v-flex>
                 <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.min_precipitation" label="Precipitación Mínima"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.mean_precipitation" label="Precipitación Media"></v-text-field>
                </v-flex>   
                  <v-switch label="Activo" v-model="precipitation.is_active"></v-switch> 
                
                </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
             <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
            <v-btn color="primary" dark  @click="editPrecipitation">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog> 

          <v-dialog v-model="mdIngreso" width="500">
             <v-card>
                <v-card-title>
                  <span class="headline">Nuevo Registro</span>
                </v-card-title>
                <v-card-text>
                   <v-container grid-list-md>
                 <v-layout wrap>
                
                <v-flex xs12 sm6 d-flex>
                    <v-select :items="allWeather" v-model="weather" item-text="weather_type" item-value="id" label="Clima" :hint="`${weather.id}`"  persistent-hint
                            return-object single-line>
                    </v-select>                                             
                </v-flex>
               <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.type_precipitation" label="Tipo Precipitación"></v-text-field>
                </v-flex>
                 <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.max_precipitation" label="Precipitación Maxima"></v-text-field>
                </v-flex>
                 <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.min_precipitation" label="Precipitación Mínima"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="precipitation.mean_precipitation" label="Precipitación Media"></v-text-field>
                </v-flex>
                  <v-switch label="Activo" v-model="precipitation.is_active"></v-switch> 
                
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
          </v-card-actions>
         </v-card>        
      </v-dialog>
        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                  <v-card-title>
                                <!-- <span class="headline">Eliminar Registro</span> -->
                                </v-card-title>
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>
        </v-toolbar>
        <v-toolbar flat color="white">
        <v-card>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card>
        </v-toolbar>
         <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>

      <div v-if="allPrecipitation.length > 0">
        <v-data-table :headers="headers" :items="allPrecipitation"  :search="search"  :pagination.sync="pagination" class="elevation-1">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left" >{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item.id_weather}}</td>
            <td class="text-xs-left">{{ props.item.type_precipitation }}</td>     
            <td class="text-xs-left">{{ props.item.max_precipitation }}</td>  
            <td class="text-xs-left">{{ props.item.min_precipitation }}</td>   
            <td class="text-xs-left">{{ props.item.mean_precipitation }}</td>   
            <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
            </td>
        </template>       
        </v-data-table>
        </div>
         <div v-else >
          <template  slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                  No se encontrearon datos!!
                </v-alert>
            </template> 
       </div>
    </div>
      <v-snackbar
      v-model="snackbar"
      :color="color"
      :multi-line="mode === 'multi-line'"
      :timeout="timeout"     
      :vertical="mode === 'vertical'" >
      {{ text }}
   
    </v-snackbar>
  </v-app>  
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "Id clima", value: "clima" },
      { text: "Tipo Precipitación", value: "tipo" },
      { text: "Precipitación Max.", value: "max" },
      { text: "Precipitación Min.", value: "min" },
      { text: "Precipitación Med.", value: "med " },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allPrecipitation: [],
    precipitation: {
      id: "",
      id_weather: "",
      type_precipitation: "",
      max_precipitation: "",
      min_precipitation: "",
      mean_precipitation: "",
      is_active:true
    },
    allWeather: [],
    weather: {
      id: "",
      weather_type: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getPrecipitation();
      this.getWeather();
    },

    /**
     * Método que permite guardar en el modelo  precipitation
     * */

    guardar() {
      this.precipitation.id_weather = this.weather.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/climate/precipitation/",
          this.precipitation
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allPrecipitation = [];
            this.getPrecipitation();
            this.mdIngreso = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo grabar el registro!!";
            this.color = "red";
            this.mdIngreso = false;
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo weather
     */
    getPrecipitation() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/precipitation/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allPrecipitation = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo weather para llenar combobox clima
     */
    getWeather() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/weather/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allWeather = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editPrecipitation() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/precipitation/" +
            this.precipitation.id +
            "/",
          this.precipitation
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allPrecipitation = [];
            this.getPrecipitation();
            this.dialog = false; 
          },
          error => {
            this.snackbar = true;
            this.text =
              "No se pudo grabar el registro!!" +
              SON.stringify(error.body.detail);
            this.color = "red";
            this.content = JSON.stringify(error.body.detail);
            this.dialog = false;
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.precipitation.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/precipitation/" +
            this.precipitation.id +
            "/",
          this.precipitation
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allPrecipitation = [];
            this.getPrecipitation();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.precipitation = this.allPrecipitation.indexOf(item);
      this.precipitation = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.precipitation = this.allPrecipitation.indexOf(item);
      this.precipitation = Object.assign({}, item);
      this.mdEliminar = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>
