<template>
<v-app id="inspire">
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Mantenedor Temperatura</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
              <v-btn color="primary" dark  @click="nuevoRegistro">Nuevo<v-icon dark right>add</v-icon></v-btn>
         <v-dialog v-model="dialog" max-width="500px">
        
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                  <v-flex xs12 sm6 d-flex>
                      <v-select :items="allClimate" v-model="climate" item-text="zone_type" item-value="id" label="Clima" :hint="`${climate.id}`"  persistent-hint
                          return-object  single-line>
                      </v-select>                                                
                  </v-flex>
                  <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="temperature.max_temp" label="Temperatura maxima"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="temperature.min_temp" label="Temperatura media"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="temperature.mean_temp" label="Temperatura media"></v-text-field>
                  </v-flex> 
                  <v-switch label="Activo" v-model="temperature.is_active"></v-switch>             
               
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
              <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
              <v-btn color="primary" dark  @click="editTemperature">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
          <v-dialog v-model="mdIngreso" width="500">
             <v-card>
                <v-card-title>
                  <span class="headline">Nuevo Registro</span>
                </v-card-title>
                <v-card-text>
                   <v-container grid-list-md>
                 <v-layout wrap>
                <!-- sm6 d-flex -->
                  <v-flex xs12 sm6 d-flex>
                        <v-select :items="allClimate" v-model="climate" item-text="zone_type" item-value="id" label="Clima" :hint="`${climate.id}`"  persistent-hint
                            return-object  single-line>
                        </v-select>                                                
                  </v-flex>
                  <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="temperature.max_temp" label="Temperatura maxima"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="temperature.min_temp" label="Temperatura mínima"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 d-flex>
                        <v-text-field v-model="temperature.mean_temp" label="Temperatura media"></v-text-field>
                    </v-flex>
                    <v-switch label="Activo" v-model="temperature.is_active"></v-switch>
                
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
            <v-btn color="primary" dark  @click="guardar">Guardar<v-icon dark right>check_circle</v-icon></v-btn>
          </v-card-actions>
         </v-card>        
      </v-dialog>  
        <v-dialog v-model="mdEliminar" width="500">
                              <v-card>
                                 
                            <v-card-text>
                              Esta seguro de eliminar el registro!!!
                            
                              </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="red" dark  @click.native="close">Cancelar<v-icon dark right>block</v-icon></v-btn>
                                  <v-btn color="primary" dark  @click="Eliminar">Eliminar<v-icon dark right>check_circle</v-icon></v-btn>
                                </v-card-actions>
                              </v-card>        
                        </v-dialog>         
    </v-toolbar>
        <v-toolbar flat color="white">
            <v-card>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
            </v-card>
        </v-toolbar>
         <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>   
          <div v-if="allTemperautre.length > 0">
            <v-data-table :headers="headers" :items="allTemperautre"  :search="search"  :pagination.sync="pagination" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td class="text-xs" >{{ props.item.id }}</td>
                <td class="text-xs">{{ props.item.id_climaticzone }}</td>
                <td class="text-xs">{{ props.item.max_temp }}</td>
                <td class="text-xs">{{ props.item.min_temp }}</td>
                <td class="text-xs">{{ props.item.mean_temp }}</td>
                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                  <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                </td>
              </template>
              <template slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                    No se encontrearon datos!!
                  </v-alert>
              </template>
            </v-data-table>
            </div>
              <div v-else >
                <template  slot="no-data">
                      <v-alert :value="true" color="error" icon="warning">
                        No se encontrearon datos!!
                      </v-alert>
                  </template> 
              </div>
            <v-snackbar
                v-model="snackbar"
                :color="color"
                :multi-line="mode === 'multi-line'"
                :timeout="timeout"     
                :vertical="mode === 'vertical'" >
                {{ text }}  
            </v-snackbar>  
  </div>
</v-app>
    
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    selected: [],
    mdIngreso: false,
    mdEliminar: false,
    timeout: 1000,
    search: "",
    snackbar: false,
    color: "",
    mode: "",
    text: "",
    mdIngreso: false,
    selected: [],
    pagination: {
      sortBy: "fat"
    },
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      { text: "id clima", value: "clima" },
      { text: "Temperatura Max.", value: "max" },
      { text: "Temperatura Min.", value: "min" },
      { text: "Temperatura Med.", value: "med" },
      { text: "Acciones", value: "id", sortable: false }
    ],
    allTemperautre: [],
    temperature: {
      id: "",
      id_climaticzone: "",
      mean_temp: "",
      max_temp: "",
      min_temp: "",
      is_active:true
    },
    allClimate: [],
    climate: {
      id: "",
      zone_type: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Editar Registro";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    //epunamum.herokuapp.com/api/v1/climate/climate/
    this.initialize();
  },

  methods: {
    initialize() {
      this.getTemperature();
      this.getClimate();
    },

    /**
     * Metodo que permite regitrar un registro en modelo temperature
     */
    guardar() {
      this.temperature.id_climaticzone = this.climate.id;
      this.$http
        .post(
          "//epunamum.herokuapp.com/api/v1/climate/temperature/",
          this.temperature
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron Guardados satisfactoriamente!";
            this.color = "green";
            this.allTemperautre = [];
            this.getTemperature();
            this.mdIngreso = false; 
          },
          error => {
            this.snackbar = true;
            this.text = "no se guardaron los datos !";
            this.color = "green";
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo country
     */
    getTemperature() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/temperature/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
            this.allTemperautre = response.body;
            //  console.log("proyecto",this.allproyect)
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que nostrae los registros del modelo climate para llenar combobox clima
     */
    getClimate() {
      this.$http
        .get(
          "//epunamum.herokuapp.com/api/v1/climate/climate/"
          // {
          //   headers: { Authorization: "JWT " + this.atoken }
          // }
        )
        .then(
          response => {
  ;
            this.allClimate = response.body;
          },
          error => {
            // this.sw = true;
            // this.title = error.status;
            // this.content = JSON.stringify(error.body.detail);
          }
        );
    },

    /**
     * Método que permite editar un registro en modelo country
     */
    editTemperature() {
      // console.log(this.project)
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/temperature/" +
            this.temperature.id +
            "/",
          this.temperature
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "Los datos fueron editados satisfactoriamente!";
            this.color = "green";
            this.allTemperautre = [];
            this.getTemperature();
            this.dialog = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo editar el registro!!";
            this.color = "red";
            this.dialog = false;
          }
        );
    },

    /**
     * Método que permite dejar inactivo un registro en el modelo region
     */
    Eliminar() {
      this.temperature.is_active = false;
      this.$http
        .patch(
          "//epunamum.herokuapp.com/api/v1/climate/temperature/" +
            this.temperature.id +
            "/",
          this.temperature
          // { headers: { Authorization: "JWT " + this.atoken } }
        )
        .then(
          response => {
            this.snackbar = true;
            this.text = "El registro fue eliminado conexito!!!";
            this.color = "green";
            this.allTemperautre = [];
            this.getTemperature();
            this.mdEliminar = false;
          },
          error => {
            this.snackbar = true;
            this.text = "No se pudo Eliminar el registro!!";
            this.color = "red";
            this.mdEliminar = false;
          }
        );
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    editItem(item) {
      this.temperature = this.allTemperautre.indexOf(item);
      this.temperature = Object.assign({}, item);
      this.dialog = true;
    },

    /**
     * Método para editar un item seleccionado de la tabla index
     */
    deleteItem(item) {
      this.temperature = this.allTemperautre.indexOf(item);
      this.temperature = Object.assign({}, item);
      this.mdEliminar = true;
    },

    /**
     * Método que permite hacer compaginación
     */
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },

    /**
     * Método que permite cambiar de pagina en la paginación
     */
    nextSort() {
      let index = this.headers.findIndex(
        h => h.value === this.pagination.sortBy
      );
      index = (index + 1) % this.headers.length;
      index = index === 0 ? index + 1 : index;
      this.pagination.sortBy = this.headers[index].value;
    },

    /**
     *  Levanta el modal mingreso para nuevo registro
     * */
    nuevoRegistro() {
      this.dialog = false;
      this.mdIngreso = true;
    },

    close() {
      this.dialog = false;
      this.mdIngreso = false;
      this.mdEliminar = false;
    }
  }
};
</script>
<style>
</style>
